@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Variables */
$font-title: "Bebas Neue", sans-serif;
$font-text: "Montserrat", sans-serif;
$font-color: #f0ffff;
$font-color-bis: #040926;
$primary-color-card: rgb(228, 111, 8);
$secondary-color-card: rgb(166, 54, 231);
$items-color: #251351;
$bg-color: #040926;
$cloud-color: #edebc3;
$ball-color: #f2811e;
