@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

/* Variables */
$font-title: "Bebas Neue", sans-serif;
$font-text: "Playfair Display", serif;
$primary-color-card: rgb(228, 111, 8);
$secondary-color-card: rgb(166, 54, 231);
$items-color: #251351;
$bg-color: #040926;
$ball-color: #f2811e;
