@use "variables";

// scoreboard

.scoreboard {
  width: 1024px;

  @keyframes dragonBalls-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .dragonBalls {
      animation: dragonBalls-spin infinite 30s linear;
    }
  }

  .dragonBalls {
    position: relative;
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
    transform: rotate(0deg);

    img {
      width: 3rem;
    }

    .turtleMaster {
      background-color: variables.$ball-color;
      position: absolute;
      top: 40.6%;
      left: 40%;
      border-radius: 100%;
      width: 3rem;
      height: 3rem;

      :hover {
        filter: drop-shadow(0 0 2em #646cffaa);
      }
    }

    div:nth-of-type(1) {
      position: absolute;
      left: 38.5%;
      height: 100%;
      padding: 0.3rem;
      transform: rotate(0deg);
    }

    div:nth-of-type(2) {
      position: absolute;
      left: 38.5%;
      height: 100%;
      padding: 0.3rem;
      transform: rotate(51.4deg);
    }

    div:nth-of-type(3) {
      position: absolute;
      left: 38.5%;
      height: 100%;
      padding: 0.3rem;
      transform: rotate(102.8deg);
    }

    div:nth-of-type(4) {
      position: absolute;
      left: 38.5%;
      height: 100%;
      padding: 0.3rem;
      transform: rotate(154.2deg);
    }

    div:nth-of-type(5) {
      position: absolute;
      left: 38.5%;
      height: 100%;
      padding: 0.3rem;
      transform: rotate(205.6deg);
    }

    div:nth-of-type(6) {
      position: absolute;
      left: 38.5%;
      height: 100%;
      padding: 0.3rem;
      transform: rotate(257deg);
    }

    div:nth-of-type(7) {
      position: absolute;
      left: 38.5%;
      height: 100%;
      padding: 0.3rem;
      transform: rotate(308deg);
    }
  }
}

// cards de personnages
figure {
  position: relative;
  width: 300px;
  height: 450px;
  border-width: 12px;
  overflow: hidden;
  border-style: solid;
  clip-path: inset(0 round 10px);
  border-image: linear-gradient(
      to right,
      variables.$primary-color-card,
      variables.$secondary-color-card
    )
    1;

  .wrapperCard {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wrapperCard::before {
    content: "";
    position: absolute;
    background-color: darkblue;
    opacity: 0.4;
    width: 100%;
    height: 100%;
  }

  .wrapperCard .bodyCard {
    z-index: 3;
    .imgCharacter {
      position: absolute;
      width: 100%;
      left: 0px;
      top: 80px;
    }
    .idCharacter {
      background-color: variables.$primary-color-card;
      font-family: variables.$font-title;
      font-size: 1.3rem;
      text-align: center;
      width: 2rem;
      height: 2rem;
      padding: 0.2rem;
      border-radius: 100%;
      position: absolute;
      top: 90%;
      left: 80%;
      box-shadow: 4px 2px 10px variables.$secondary-color-card;
    }
  }
  .wrapperCard .headerCard {
    z-index: 4;
    width: 95%;
    padding-top: 0.5rem;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .characterName {
      font-family: variables.$font-title;
      font-size: 2rem;
    }

    .imgLogo {
      width: 30%;
    }
  }
}
