@use "../../assets/style/variables";

.game {
  width: 90%;
  margin: 0 auto;

  h2:nth-child(1) {
    margin-top: 10rem;
  }

  // component Scoreboard
  .scoreboard {
    margin-bottom: 3rem;
    background-color: variables.$cloud-color;
    overflow-y: hidden;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border-radius: 1.2rem;
    border: 3px solid variables.$ball-color;

    @keyframes dragonBalls-spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

    @media (prefers-reduced-motion: no-preference) {
      .dragonBalls {
        animation: dragonBalls-spin infinite 30s linear;
      }
    }

    .dragonBalls {
      position: relative;
      width: 11rem;
      height: 11rem;
      border-radius: 100%;
      transform: rotate(0deg);

      img {
        width: 2.5rem;
      }

      .turtleMaster {
        background-color: variables.$ball-color;
        position: absolute;
        top: 40.6%;
        left: 40%;
        border-radius: 100%;
        width: 2.5rem;
        height: 2.5rem;

        :hover {
          filter: drop-shadow(0 0 2em #646cffaa);
        }
      }

      div:nth-of-type(1) {
        position: absolute;
        left: 38.5%;
        height: 100%;
        padding: 0.3rem;
        transform: rotate(0deg);
      }

      div:nth-of-type(2) {
        position: absolute;
        left: 38.5%;
        height: 100%;
        padding: 0.3rem;
        transform: rotate(51.4deg);
      }

      div:nth-of-type(3) {
        position: absolute;
        left: 38.5%;
        height: 100%;
        padding: 0.3rem;
        transform: rotate(102.8deg);
      }

      div:nth-of-type(4) {
        position: absolute;
        left: 38.5%;
        height: 100%;
        padding: 0.3rem;
        transform: rotate(154.2deg);
      }

      div:nth-of-type(5) {
        position: absolute;
        left: 38.5%;
        height: 100%;
        padding: 0.3rem;
        transform: rotate(205.6deg);
      }

      div:nth-of-type(6) {
        position: absolute;
        left: 38.5%;
        height: 100%;
        padding: 0.3rem;
        transform: rotate(257deg);
      }

      div:nth-of-type(7) {
        position: absolute;
        left: 38.5%;
        height: 100%;
        padding: 0.3rem;
        transform: rotate(308deg);
      }
    }

    .score {
      display: flex;
      flex-direction: column;
      gap: 1.3rem;

      p {
        margin: 0;
        font-size: 1rem;
        font-weight: 500;
        color: variables.$font-color-bis;
      }
    }

    .wrapperAvatar {
      max-height: 200px;
      max-width: 300px;
      cursor: pointer;
      .avatar {
        width: 100%;
      }
    }
  }

  // component Playground
  .playground {
    position: relative;
    padding: 2rem;
    background-color: variables.$cloud-color;
    border-radius: 1.2rem;
    border: 3px solid variables.$ball-color;
    display: grid;
    overflow-x: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    grid-template-rows: repeat(1, minmax(0, 1fr));
    grid-auto-flow: column;
    gap: 20px;

    ::-webkit-scrollbar {
      display: none; /* for Chrome, Safari, and Opera */
    }

    // cards de personnages
    figure {
      cursor: url(https://cdn.custom-cursor.com/db/15083/32/dragon-ball-super-saiyan-blue-goku-pointer.png),
        pointer !important;
      position: relative;
      width: 200px;
      height: 300px;
      border-width: 12px;
      overflow: hidden;
      border-style: solid;
      clip-path: inset(0 round 10px);
      border-image: linear-gradient(
          to right,
          variables.$primary-color-card,
          variables.$secondary-color-card
        )
        1;

      .wrapperCard {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .wrapperBackCard {
        height: 100%;
        background-color: variables.$bg-color;
        background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M36 0H0v36h36V0zM15.126 2H2v13.126c.367.094.714.24 1.032.428L15.554 3.032c-.188-.318-.334-.665-.428-1.032zM18 4.874V18H4.874c-.094-.367-.24-.714-.428-1.032L16.968 4.446c.318.188.665.334 1.032.428zM22.874 2h11.712L20 16.586V4.874c1.406-.362 2.512-1.468 2.874-2.874zm10.252 18H20v13.126c.367.094.714.24 1.032.428l12.522-12.522c-.188-.318-.334-.665-.428-1.032zM36 22.874V36H22.874c-.094-.367-.24-.714-.428-1.032l12.522-12.522c.318.188.665.334 1.032.428zm0-7.748V3.414L21.414 18h11.712c.362-1.406 1.468-2.512 2.874-2.874zm-18 18V21.414L3.414 36h11.712c.362-1.406 1.468-2.512 2.874-2.874zM4.874 20h11.712L2 34.586V22.874c1.406-.362 2.512-1.468 2.874-2.874z' fill='%23f2811e' fill-opacity='0.18' fill-rule='evenodd'/%3E%3C/svg%3E");
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 70%;
        }
      }

      .wrapperCard::before {
        content: "";
        position: absolute;
        background-color: darkblue;
        opacity: 0.4;
        width: 100%;
        height: 100%;
      }

      .wrapperCard .bodyCard {
        z-index: 3;
        .imgCharacter {
          position: absolute;
          width: 100%;
          left: 0px;
          top: 60px;
        }
        .idCharacter {
          background-color: variables.$primary-color-card;
          font-family: variables.$font-title;
          font-size: 1.3rem;
          margin: 0;
          line-height: 1.4;
          text-align: center;
          width: 2rem;
          height: 2rem;
          padding: 0.2rem;
          border-radius: 100%;
          position: absolute;
          top: 85%;
          left: 75%;
          box-shadow: 4px 2px 10px variables.$secondary-color-card;
        }
      }
      .wrapperCard .headerCard {
        z-index: 4;
        width: 95%;
        padding-top: 0.5rem;
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .characterName {
          font-family: variables.$font-title;
          font-size: 1.4rem;
        }
        .imgLogo {
          width: 30%;
        }
      }
    }

    .modalePlayground {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: variables.$cloud-color;
      opacity: 0.5;
    }
  }

  // media queries desktop
  @media screen and (min-width: 799px) {
    .scoreboard {
      padding: 1.2rem 3.6rem;
      gap: 4rem;
      height: 300px;
      overflow-y: hidden;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .wrapperAvatar {
        max-height: 100%;
        width: 300px;
      }

      .dragonBalls {
        width: 15rem;
        height: 15rem;

        img {
          width: 3rem;
        }

        .turtleMaster {
          width: 3rem;
          height: 3rem;
        }
      }
    }
    .playground {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      // cards de personnages
      figure {
        width: 300px;
        height: 450px;

        .wrapperCard .bodyCard {
          .imgCharacter {
            top: 80px;
          }
          .idCharacter {
            top: 90%;
            left: 80%;
          }
        }
        .wrapperCard .headerCard {
          .characterName {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
